<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS</title>
</head>
<body>
    <!--Incluimos la partecita hader al index. Lo hacemos mediante el mostochon.
    
    No hace falta especificar la ruta porque ya lo añadimos en el registerPartials. Para poder añadir un fragmento se debe poner {{}} + el simbolo > + el nombre del archivo
    
    -->

    {{>header}}
    <h1>Hola, {{nombre}}</h1>
</body>
</html>